html, body {
    font-size: 1.03em;
}

.direct-link {
    font-family: sans-serif;
    text-decoration: none;
    font-style: normal;
    margin-left: .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
    color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
    color: #aaa;
}

@font-face {
    font-family: 'Fugaz One';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/fugaz-one-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/assets/fonts/fugaz-one-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/fugaz-one-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/assets/fonts/fugaz-one-v10-latin-regular.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/fugaz-one-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/fugaz-one-v10-latin-regular.svg#FugazOne') format('svg'); /* Legacy iOS */
}

.font-fugaz-one {
    font-family: "Fugaz One", serif;
    font-size: 1.2rem !important;
}

.text-justify {
    text-align: justify;
}
