<div class="Box m-2 box-shadow-medium">
    <div class="Box-body">
        <img src="/assets/images/abbas-amiri.jpg" alt="Abbas Amiri"
             style="width: 150px; height: auto; display:block;margin:auto;">
        <p></p>
        <h3 class="text-center">Abbas Amiri</h3>
        <h3 class="text-center">Software Engineer</h3>
        <p></p>
        <p class="text-center">
            <a href="mailto://abbas.amiri@outlook.com" title="Email" target="_blank"><i class="icon-mail"></i></a>
            <a href="https://github.com/abbasamiri" title="Github" target="_blank"><i class="icon-github-circled"></i></a>
            <a href="https://stackoverflow.com/users/2234569/abbas-amiri" title="Stackoverflow" target="_blank"><i class="icon-stackoverflow-1"></i></a>
            <a href="https://twitter.com/AbbasAmirii" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
        </p>
    </div>
</div>
